<tr>
  <th scope="row"><%= location.id %></th>
  <td><%= location.device_code %></td>
  <td><%= location.latitude %></td>
  <td><%= location.longitude %></td>
  <td><%= location.receiving_time %></td>
  <td><%= location.status %></td>
</tr>
